@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&family=Roboto+Slab:wght@100..900&display=swap');
:root {
  --navy: #102C57;
  --blue: #1679AB; 
  --peach: #FFB1B1;
  --pink: #FFCBCB;    
}
body {
    background: #fff;
    color: var(--navy);
    font-family: "Roboto Slab", "LXGW WenKai Mono TC", monospace, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}
.container{
    width: 100vw;
    height: 100vh;
    background: #fff url(../anime-landscape-person-traveling.jpg) no-repeat center center;
    background-size:cover;
    background-clip: content-box;
    
}
